name: SAST Scan All Branches

on:
  workflow_dispatch:
    inputs:
      release_name:
        description: 'Name of the release to scan'
        required: true
        default: 'latest'
        type: string

jobs:
  iris-scanner:
    runs-on: windows-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      
     # - name: Setup .NET Core 9
      #  uses: actions/setup-dotnet@v3
      #  with:
       #   dotnet-version: '9.0.310'
       
      - name: Create Settings File
        run: |
          $jsonContent = @{
            projectId = "${{ secrets.PROJECT_ID }}"
            jwt_auth = "${{ secrets.IRIS_JWT }}"
          } | ConvertTo-Json

          $jsonContent | Set-Content -Path "iris.settings.json"
          
      - name: Download IRIS Scanner CLI 
        shell: powershell
        run: Invoke-WebRequest -Uri "https://iris.codeeye.ai/assets/onprem/win/v1/iris-scanner-cli_1_3_9_2.exe" -OutFile "iris-scanner-cli.exe"

      - name: Run Scan 
        shell: powershell
        run: |
          $releaseName="${{ inputs.release_name }}"
          $currentDirectory = (Get-Location).Path
          .\iris-scanner-cli.exe -s "$currentDirectory" -r "$releaseName" -verbose
